{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Pagina La Paseandera</title>
    <link rel="stylesheet" type="text/css" href="{% static 'estilos.css' %}">
</head>
<body>
    <h1>Pagina La Paseandera </h1>
    <br>
    <h2>Hola presentamos los productos</h2>
    
    <table id="tabla">
        <tbody>
            <tr>
                <th><b>Fecha Compra</b></th>
                <th><b>producto</b></th>
                <th><b>kilogramo</b></th>
                <th><b>precio</b></th>              
                <th><b>cantidad</b></th>
            </tr>
        </tbody>
        
        <tbody>
            {% for i in objeto %}
            <tr>
                <td>{{ i.fecha }}</td>
                <td>{{ i.producto }}</td>
                <td>{{ i.kilogramo }}</td>
                <td>{{ i.precio }}</td>
                <td>{{i.cantidad}}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
    
    

    <script src="{% static 'script.js' %}"></script>
</body>
</html>